<!-- <link rel="stylesheet" href="css/waterfall.css"> -->

<%= page_header do %>
  <h3> Waterfalllllllll </h3>
<% end %>


<div class="waterfall">

  <div id="container"></div>

</div>

<script type="text/x-handlebars-template" id="waterfall-tpl">

  {{#result}}
      <div class="item">
          <img src="{{image}}" width="{{width}}" height="{{height}}" />
      </div>
  {{/result}}
</script>

<script src="scripts/handlebars.js"></script>
<script src="scripts/waterfall.js"></script>

<script>    

$('#container').waterfall({
    itemCls: 'item',
    // colWidth: 222,
    colWidth: 330,  
    gutterWidth: 15,
    gutterHeight: 15,
    maxPage: 1,
    checkImagesLoaded: false,
    callbacks: {
        loadingFinished: function($loading, isBeyondMaxPage) {
          $loading.fadeOut();
        }
    },
    path: function(page) {
        return 'waterfallData.json';
    }
});
    
</script>

